@font-face {
    font-family: 'OpenSans-Regular';
    src: url('OpenSans-Regular/OpenSans-Regular.woff2') format('woff2'),
         url('OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
         url('OpenSans-Regular/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}