@font-face {
    font-family: 'OpenSans-Italic';
    src: url('OpenSans-Italic/OpenSans-Italic.woff2') format('woff2'),
         url('OpenSans-Italic/OpenSans-Italic.woff') format('woff'),
         url('OpenSans-Italic/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}