@font-face {
    font-family: 'OpenSans-Light';
    src: url('OpenSans-Light/OpenSans-Light.woff2') format('woff2'),
         url('OpenSans-Light/OpenSans-Light.woff') format('woff'),
         url('OpenSans-Light/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}