<!-- Main Footer -->
<footer class="main-f">
	<div class="container">
		<span class="logo-f icon-pb-logo--foot "></span>

		<p class="tanks">Thank you for your time</p>

		<p class="contacts">Or you can contact us at: <a href="mailto:info@ibread.com">info@ibread.com</a></p>
	</div>
</footer>
<!-- / Main Footer -->