@font-face {
    font-family: 'OpenSans-Bold';
    src: url('OpenSans-Bold/OpenSans-Bold.woff2') format('woff2'),
         url('OpenSans-Bold/OpenSans-Bold.woff') format('woff'),
         url('OpenSans-Bold/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}