/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-pb-app_store {
  background-image: url(../img/sprites/sprites.png);
  background-position: 0px -103px;
  width: 146px;
  height: 50px;
}
.icon-pb-hover-eye {
  background-image: url(../img/sprites/sprites.png);
  background-position: 0px -163px;
  width: 90px;
  height: 54px;
}
.icon-pb-logo--foot {
  background-image: url(../img/sprites/sprites.png);
  background-position: -147px 0px;
  width: 98px;
  height: 77px;
}
.icon-pb-logo {
  background-image: url(../img/sprites/sprites.png);
  background-position: 0px 0px;
  width: 137px;
  height: 93px;
}
