//out:none
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	4. Content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.content{
	padding: 0 0 100px;
}

.content-pic{
	margin-top: 12px;
}

.title{
	color: #292929;
	margin: 0 0 26px;
}

.sub-title{
	font: 24px /30px @openl;
	margin-bottom: 0;
}

.app-store{
	display: inline-block;
}


/* Goods */

.goods{
	padding: 95px 0 80px;
	background: #f8f8f8;
	text-align: center;
}

.goods h2{
	color: #292929;
	margin: 0 0 40px;
}

.goods-list{
	margin-top: 104px;
}

.bread{
	display: block;
	margin: 0 0 30px;
	position: relative;
	overflow: hidden;

	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(220,167,76,.6);
		opacity: 0;
		transition: opacity .3s ease;
		z-index: 1;
	}

	&:after{
		content: "";
		display: block;
		position: absolute;
		background-image: url(../img/sprites/sprites.png);
		background-position: 0px -163px;
		width: 90px;
		height: 54px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		transition: all .3s ease;
		transform: scale(0);
		z-index: 2;
	}

	img{
		display: block;
		width: 100%;
		
	}

	&:hover{

		&:before{
			opacity: 1;
		}

		&:after{
			opacity: 1;
			transform: scale(1);
		}
	}
}

