/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 	2.2. Fonts 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold/OpenSans-Bold.woff2') format('woff2'),
         url('../fonts/OpenSans-Bold/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic/OpenSans-Italic.woff2') format('woff2'),
         url('../fonts/OpenSans-Italic/OpenSans-Italic.woff') format('woff'),
         url('../fonts/OpenSans-Italic/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light/OpenSans-Light.woff2') format('woff2'),
         url('../fonts/OpenSans-Light/OpenSans-Light.woff') format('woff'),
         url('../fonts/OpenSans-Light/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}