//out:none
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	5. Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.main-f{
	background: #292929;
	text-align: center;
	padding: 0 0 100px;
	color: #f8f8f8;
}

.logo-f{
	display: inline-block;
	margin: -30px 0 80px;
}

.tanks{
	margin: 0;
	font: 30px/30px @openb;
}

.contacts{
	font: 16px/24px @openi;
	margin: 13px 0;
}