//out:none
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	2.1. Grig System
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;

	&--wide{
		max-width: 1850px;
	}
}

.container:after,
.row:after,
.row-same-h:after  {
  content: "";
  display: table;
  clear: both;
}

.row-same-h{
	display: table;
}