//out: none
/*~~~~~~~~~~~~~~~~~~~~~~~~~~
	6. Helpers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* streem */
.cf:after {
  content: "";
  display: table;
  clear: both;
}

/* box model */
.m0{
    margin: 0;
}

.p0{
    padding: 0;
}

.bn{
   border: none; 
}

.dt{
    display: table;
}

.dtc{
    display: table-cell;
}


/* text */
.tc{
    text-align: center;
}

.tl{
    text-align: left;
}

.tr{
    text-align: right;
}

.tup{
    text-transform: uppercase;
}

/* other */