//out:none
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	7. Media Queries
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.content-pic{
		display: block;
		margin: 0 auto;
	}

	.main-h,
	.title,
	.sub-title,
	.app-store-out{
		text-align: center;
	}
}




/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.goods-list{
		margin-top: 60px;
	}

	.bread{
		margin: 0 0 15px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 640px) {
	.content-pic{
		display: none;
	}

	h1{
		font: 36px / 36px "OpenSans-Light",sans-serif;

		br{
			display: none;
		}
	}

	h2 {
	    font: 32px / 34px "OpenSans-Light",sans-serif;
	}

	.sub-title {
	    margin-bottom: 0;
	    font: 18px / 24px "OpenSans-Light",sans-serif;
	}

	p{
		line-height: 21px;
	}

	.content{
		padding-bottom: 50px;
	}

	.goods{
		padding: 50px 0 60px;
	}

	.logo-f{
		margin-bottom: 20px;
	}

	.tanks {
		margin: 0;
		font: 24px/28px "OpenSans-Bold",sans-serif;
	}

	.contacts {
	    font: 14px/24px "OpenSans-Italic",sans-serif;
	}

	.main-f{
		padding-bottom: 20px;
	}

}
