/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-pb-jaguar-logo {
  background-image: url(img/sprites/sprites.png);
  background-position: -94px 0px;
  width: 76px;
  height: 35px;
}
.icon-pb-landrover-logo {
  background-image: url(img/sprites/sprites.png);
  background-position: 0px 0px;
  width: 84px;
  height: 55px;
}
.icon-pb-logo {
  background-image: url(img/sprites/sprites.png);
  background-position: 0px -65px;
  width: 44px;
  height: 67px;
}
