//out:none
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	2. Custom Starter
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html,
body{
	height: 100%;
}
body{
	font: 14px/24px @open;
	color: #777;
	overflow-x: hidden;
}

img{
	display: inline-block;
	max-width: 100%;
	height: auto;
}

a{
	color: #dca74c;
	text-decoration: none;
	outline: none !important;
	transition: color .3s ease;

	&:hover{
		text-decoration: underline;
	}
}

p{
	margin: 26px 0;
}

h1{
	font: 48px /52px @openl;
}

h2{
	font: 36px /36px @openl;
}